.jumbotron {
    margin-top: 10px;
    border: 2px solid darkslateblue;
    color: darkslateblue;
}

body {
    background-color: orange;
    color: darkslateblue;
}

p {
    margin-left: 4%;
    display: inline-block;
    font-weight: bold;
}

img.burger {
    max-width: 250px;
    max-height: 250px;
    margin-left: 15%;
    margin-bottom: 10px;
}

div.eat_me {
    position: relative;
}

button.devour_it {
    position: absolute;
    top: -10%;
    margin-left: 5%;
    border: 2px solid darkslateblue;
    color: darkslateblue;
    font-weight: bolder;
}

button.devour_it:hover {
    background-color: darkslategray;
    color: white;
}

.form-control, #enter_button {
    margin-bottom: 10px;
}

ul {
    margin-left: 5%;
}

ul pre {
    color: darkslateblue;
    font-weight: bold;
}

#enter_button {
    background-color: darkslateblue;
    color: white;
}